$card-7d: url('#{$img-cards-path}/7d.png');
$card-8d: url('#{$img-cards-path}/8d.png');
$card-9d: url('#{$img-cards-path}/9d.png');
$card-10d: url('#{$img-cards-path}/10d.png');
$card-jd: url('#{$img-cards-path}/jd.png');
$card-qd: url('#{$img-cards-path}/qd.png');
$card-kd: url('#{$img-cards-path}/kd.png');
$card-ad: url('#{$img-cards-path}/ad.png');

$card-7s: url('#{$img-cards-path}/7s.png');
$card-8s: url('#{$img-cards-path}/8s.png');
$card-9s: url('#{$img-cards-path}/9s.png');
$card-10s: url('#{$img-cards-path}/10s.png');
$card-js: url('#{$img-cards-path}/js.png');
$card-qs: url('#{$img-cards-path}/qs.png');
$card-ks: url('#{$img-cards-path}/ks.png');
$card-as: url('#{$img-cards-path}/as.png');

$card-7h: url('#{$img-cards-path}/7h.png');
$card-8h: url('#{$img-cards-path}/8h.png');
$card-9h: url('#{$img-cards-path}/9h.png');
$card-10h: url('#{$img-cards-path}/10h.png');
$card-jh: url('#{$img-cards-path}/jh.png');
$card-qh: url('#{$img-cards-path}/qh.png');
$card-kh: url('#{$img-cards-path}/kh.png');
$card-ah: url('#{$img-cards-path}/ah.png');

$card-7c: url('#{$img-cards-path}/7c.png');
$card-8c: url('#{$img-cards-path}/8c.png');
$card-9c: url('#{$img-cards-path}/9c.png');
$card-10c: url('#{$img-cards-path}/10c.png');
$card-jc: url('#{$img-cards-path}/jc.png');
$card-qc: url('#{$img-cards-path}/qc.png');
$card-kc: url('#{$img-cards-path}/kc.png');
$card-ac: url('#{$img-cards-path}/ac.png');

$all-cards: (
  ('7c', $card-7c), ('8c', $card-8c), ('9c', $card-9c), ('10c', $card-10c),
  ('jc', $card-jc), ('qc', $card-qc), ('kc', $card-kc), ('ac', $card-ac),
  ('7d', $card-7d), ('8d', $card-8d), ('9d', $card-9d), ('10d', $card-10d),
  ('jd', $card-jd), ('qd', $card-qd), ('kd', $card-kd), ('ad', $card-ad),
  ('7h', $card-7h), ('8h', $card-8h), ('9h', $card-9h), ('10h', $card-10h),
  ('jh', $card-jh), ('qh', $card-qh), ('kh', $card-kh), ('ah', $card-ah),
  ('7s', $card-7s), ('8s', $card-8s), ('9s', $card-9s), ('10s', $card-10s),
  ('js', $card-js), ('qs', $card-qs), ('ks', $card-ks), ('as', $card-as)
);