$general-background: #f3f3f3;
$general-background-opaque: rgba(240, 240, 240, 0.8);
$notification-background: rgba(0, 0, 0, 0.85);

$default-text-color: #434343;
$lighter-text-color: #989898;
$notification-text-color: #ddd;

$link-text-color: #f00;