.cube-btn {
  border-radius: 4px;
  background-color: $lighter-background;
  border: 1px solid $default-border-color;
  color: $default-text-color;
  font-family: DefaultFont;
  &:active {
    color: white;
    background-color: $active-button-background-color;
  }
  &.danger {
    color: $link-text-color;
    font-family: BoldFont;
  }
}

.cube-picker-choose {
  cursor: pointer;
  font-family: DefaultFont;
  > [data-action=confirm],
  > [data-action=cancel] {
    color: $default-text-color;
    &:active {
      color: $link-text-color;
    }
  }
}

.cube-picker-wheel-wrapper {
  :nth-child(2) {
    ul.wheel-scroll {
      :nth-child(2),
      :nth-child(4) {
        color: red;
      }
    }
  }
}