// Buttons
.cube-btn {
  border-radius: 4px;
  background-color: $lighter-background;
  border: 1px solid $default-border-color;
  color: $default-text-color;
  font-family: DefaultFont;
  &.success {
    color: $success-link-color;
    font-family: BoldFont;
    &:active {
      color: white;
    }
  }
  &.danger {
    color: $danger-link-color;
    font-family: BoldFont;
     &:active {
        color: white;
     }
  }
  &:active {
    color: white;
    background-color: $active-button-background-color;
  }
}

// Picker
.cube-picker-choose {
  cursor: pointer;
  font-family: DefaultFont;
  > .cube-picker-cancel {
    color: $default-text-color;
  }
  > .cube-picker-confirm {
    color: $link-text-color;
  }
}
.cube-picker-content {
  i.info {
    color:$lighter-text-color;
    font-style: normal;
  }
}
li.cube-picker-wheel-item {
  text-align: center;
}

// Switch
.cube-switch {
  border-radius: 4px;
  background-color: $lighter-background;
  border: 1px solid $default-border-color;
  .cube-switch-input {
    height: 100%;
    right: 15px;
    cursor: pointer;
  }
  .cube-switch-input:checked+.cube-switch-ui {
    border-color: $danger-link-color;
    background-color: $danger-link-color;
  }
  .cube-switch-input:disabled+.cube-switch-ui+.cube-switch-label {
    opacity: 0.3;
  }
  .cube-switch-ui {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .cube-switch-label {
    margin-left: 15px;
  }
}

// Popup
.cube-dialog-btn_highlight {
  color: $danger-link-color;
  font-family: BoldFont;
  &:active {
    background-color: $active-button-background-color;
    color: white;
    box-shadow: 1px 1px 2px $default-text-color;
  }
}
.cube-dialog-content-def {
  text-align: center;
}
.cube-dialog-title-def {
  overflow: visible;
}

// text input
.cube-input {
  color: inherit;
  font-size: inherit;
  input {
    color: inherit;
    font-family: DefaultFont;
    font-size: inherit;
    background: none;
  }
  &.cube-input_active {
    background: none;
    border-color: none;
  }
  &:after {
    border: none;
  }
}

// checkbox
.cube-checkbox {
  display: inline-block;
  height: 48px;
  .cube-checkbox-ui.cubeic-round-border {
    margin-right: 0;
  }
  &.cube-checkbox_checked .cube-checkbox-ui i{
    color: $danger-link-color;
  }
}