@font-face {
  src: url('#{$fonts-path}/OpenSans-Light.ttf');
  font-family: DefaultFont;
}
@font-face {
  src: url('#{$fonts-path}/OpenSans-Semibold.ttf');
  font-family: BoldFont;
}

// Import Font-awesome icons
$fa-font-path: '../../node_modules/font-awesome/fonts';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';


