@import './colors';
@import './fonts';
@import './images';

// Extra-small screens
$max-xxs-width: 444px;

// Very small screens
$min-xs-width: 444px;
$max-xs-width: 562px;

// Small screens
$min-s-width: 562px;
$max-s-width: 768px;

// Medium screens
$min-m-width: 768px;
$max-m-width: 992px;

// Large screens
$min-l-width: 992px;
$max-l-width: 1200px;

// Extra-large screens
$min-xl-width: 1200px;

@mixin distribute-on-circle(
  $nb-items,
  $circle-size,
  $item-size
) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);

  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none; /* 2 */
  box-sizing: content-box; /* 3 */

  > * { /* 4 */
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -$half-item;
  }

  $angle: (360 / $nb-items);
  $rot: 120;

  @for $i from 1 through $nb-items {
    > :nth-of-type(#{$i}) {
      transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
    }
    $rot: ($rot + $angle);
  }
}

*[family='s'] {
  background: $spades;
  background-size: 100%;
}
*[family='SA'] {
  background: $SA;
  background-size: 100%;
}
*[family='TA'] {
  background: $TA;
  background-size: 100%;
}
*[family='c'] {
  background: $clubs;
  background-size: 100%;
}
*[family='d'] {
  background: $diamonds;
  background-size: 100%;
}
*[family='h'] {
  background: $hearths;
  background-size: 100%;
}
