@import './colors';
@import './fonts';
@import './images';

// Extra-small screens
$max-xs-width: 576px;

// Small screens
$min-s-width: 576px;
$max-s-width: 768px;

// Medium screens
$min-m-width: 768px;
$max-m-width: 992px;

// Large screens
$min-l-width: 992px;
$max-l-width: 1200px;

// Extra-large screens
$min-xl-width: 1200px;