html {
  font-size: 140%;
  @include answer-to-width ('s') { font-size: 125%; }
  @include answer-to-height ('s') { font-size: 125%; }
}
body {
  font-size: 15px;
  background: $general-background;
  color: $default-text-color;
}
h1 {
  font-size: 22px;
  margin: 20px auto 15px auto;
  font-family: BoldFont;
}
h2 {
  font-size: 17px;
  margin: 12px auto 8px auto;
  font-family: BoldFont;
}
h3 {
  margin-top: 10px;
  font-family: BoldFont;
}
h4 {
  font-size: 13px;
  text-align: center;
  color: $lighter-text-color;
}
a {
  color: $danger-link-color;
  text-decoration: underline;
}
strong {
  font-family: BoldFont;
  color: $danger-link-color;
}
ul {
  padding-left: 20px;
  margin: 10px auto;
  text-align: left;
  li {
    margin: 3px auto;
    position: relative;
    list-style: none;
    &:before {
      position: absolute;
      top: 5px;
      left: -15px;
      content: '';
      width: 11px;
      height: 11px;
      background: $ace-logo center no-repeat;
      background-size: 100%;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}