$center-logo: url('#{$img-path}/center-logo.png');
$dealer-coin: url('#{$img-path}/dealer-coin.png');
$ace-logo: url('#{$img-path}/ace-logo.png');

$spades: url('#{$img-path}/spades.png');
$hearths: url('#{$img-path}/hearths.png');
$clubs: url('#{$img-path}/clubs.png');
$diamonds: url('#{$img-path}/diamonds.png');

i.card-icon{
  display: inline-block;
  &:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: 1px;
  }
  &.s:before {
    background: $spades 50% 50%;
    background-size: 100%;
  }
  &.h:before {
    background: $hearths 50% 50%;
    background-size: 100%;
  }
  &.c:before {
    background: $clubs 50% 50%;
    background-size: 100%;
  }
  &.d:before {
    background: $diamonds 50% 50%;
    background-size: 100%;
  }
}