$logo: url('../img/ace-logo.png');
$table-texture: url('../img/marble_texture.jpg');
$center-logo: url('../img/center-logo.png');
$spades: url('../img/spades.png');
$hearths: url('../img/hearths.png');
$clubs: url('../img/clubs.png');
$diamonds: url('../img/diamonds.png');
$TA: url('../img/TA.png');
$SA: url('../img/SA.png');
$devtool: url('../img/devtools.png');
$buzzer: url('../img/buzzer.png');
$cards: url('../img/cards.png');
$dealer-coin: url('../img/dealer-coin.png');